<h1> <%= @team.name %> </h1>
  <div class="team">
    <h2>Team Motto: <%= @team.motto %></h2><br>
  </div><br>

<% @members.each do |member| %>
  <div class="heros">
    <h2>Hero Name: <%= member.name %></h2>
    <p>Hero Power: <%= member.power %></p><br>
    <p>Hero Biography: <%= member.bio %></p><br>
  </div><br>
<% end %>
